<form ng-submit="login(userLog, passLog)" ng-controller="loginCtrl">
    <label for="userLog">
        <input type="text" class="login" id="userLog" placeholder="username" ng-model="userLog" required>
    </label>
    <label for="passLog">
        <input type="password" class="login" id="passLog" placeholder="password" ng-model="passLog" required>
    </label>
    <!--<a href="#/profile"><button class="button small" id="login">Login</button></a>-->
    <button class="button small" type="submit">Login</button>
</form>