<div id="reg-form" ng-submit="passChange(oldPass, newPass, newPass2)"  ng-controller="passChangeCtrl">
    <form>
        <div class="form-header">
            <span class="big-text">Change Password</span>
        </div>
        <div class="row">
            <span class="icon">
                 <i class="fa fa-key fa-fw"></i>
            </span>
            <label for="current-password">
                <input type="password" class="register" id="current-password" placeholder="current password" ng-model="oldPass" required>
            </label>
        </div>
        <div class="row">
            <span class="icon">
                 <i class="fa fa-unlock-alt fa-fw"></i>
            </span>
            <label for="password">
                <input type="password" class="register" id="password" placeholder="new password" ng-model="newPass" required>
            </label>
        </div>
        <div class="row">
            <span class="icon">
                <i class="fa fa-lock fa-fw"></i>
            </span>
            <label for="password-repeat">
                <input type="password" class="register" id="password-repeat" placeholder="repeat new password" ng-model="newPass2" required>
            </label>
        </div>
        <div class="right">
            <button class="button big" type="submit">Submit</button>
        </div>
    </form>
</div>