<div id="view-profile">
    <div id="view-cover" ng-style="coverImage">
        <div id="profile-image-holder">
            <img ng-src="{{profileImage || 'http://dummyimage.com/120x150/dddddd/000000&text=no+image'}}" id="view-pic">
            <span id="fiends-count" ng-if="friends != 0" ng-click="showFriendRequests()">{{friends}}</span>
            <div id="friend-request" ng-if="currentUsername">
                <span id="name-text">{{fullName}}</span>
                <br>
                <button class="regular" ng-disabled="disabled" ng-click="addFriend(currentUsername)" ng-class="{button: !disabled, button2: disabled}">{{buttonText}}</button>
            </div>
        </div>
    </div>
</div>