<div id="reg-form" ng-controller="editCtrl">
    <form>
        <div class="form-header">
            <span class="big-text">Edit Profile</span>
        </div>
        <div class="row">
            <span class="icon">
                <i class="fa fa-male fa-fw"></i>
            </span>
            <label for="full-name">
                <input type="text" class="register" id="full-name" placeholder="full name" ng-model="nameEdit">
            </label>
        </div>
        <div class="row">
            <span class="icon">
                <i class="fa fa-envelope fa-fw"></i>
            </span>
            <label for="email">
                <input type="email" class="register" id="email" placeholder="e-mail" ng-model="mailEdit">
            </label>
        </div>
        <div class="row">
            <span class="icon">
                <i class="fa fa-venus-mars fa-fw"></i>
            </span>
            <label for="gender">
                <select id="gender" ng-model="genderEdit">
                    <option value="0">Other</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </label>
        </div>
        <div class="center">
            <div id="cover-preview-holder">
                <img id="profile-cover-preview" ng-src="{{covImgEdit}}"/>
            </div>
            <div>
                <button id="profile-cover-button" class="button small">Upload</button>
                <input type="file" id="profile-cover" />
            </div>
        </div>
        <div>
            <div id="image-preview-holder">
                <img id="profile-image-preview" ng-src="{{profImgEdit}}"/>
            </div>
            <div>
                <button id="profile-image-button" class="button small m-left">Upload</button>
                <input type="file" id="profile-image" />
                <div class="f-right">
                    <button class="button big" type="submit" ng-click="editProfile(nameEdit, mailEdit, genderEdit, profImgEdit, covImgEdit)">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>