<div id="profile-holder">
    <div id="pop-up">
        <img ng-src="{{currentUser.profileImageData || 'http://dummyimage.com/100x100/dddddd/000000&text=no+image'}}"><br>
        <span id="found-username">{{currentUser.username}}</span>
        <span><i class="fa fa-{{currentUser.gender == 1 ? 'mars' : currentUser.gender == 2 ? 'venus' : 'venus-mars'}}"></i></span>
    </div>
    <span class="users-names" ng-repeat="user in foundUsers" id="user{{$index}}">
        <p class="users-name-holder">{{user.name}}</p>
    </span>
    <input type="text" id="user-search" placeholder="search users" ng-model="searchUserName" ng-change="searchUsers(searchUserName)">

    <img ng-src="{{avatar}}" id="profile-pic">

    <span id="drop-down">
        <span id="username-header">{{username}}</span>
        <!-- TODO: ^THIS^ -->
    <span id="down-arrow">
        <i class="fa fa-sort-down (alias)"></i>
    </span>
    <div id="invisible">
        <a href="#/profile" ng-click="viewProfile()">view profile</a>
        <a href="#/profile/password">change password</a>
        <a href="#/profile/edit">edit profile</a>
        <a href="#/logout">logout</a>
    </div>
    </span>
</div>