@font-face {
    font-family: Trench;
    src: url(../fonts/Trench.otf);
}

@font-face {
    font-family: Facebook;
    src: url(../fonts/Facebook.otf);
}

body {
    margin: 0;
    font-family: Verdana;
}

#logo {
    position: absolute;
    left: 30px;
    top: 150px;
}

#url {
    font-family: Trench;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    left: 10px;
}

header {
    font-size: 20px;
    text-align: center;
    height: 50px;
    background-color: lightblue;
    border-bottom: 1px solid gray;
}

#wrapper {}

#reg-form {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: rgb(245, 245, 245);
    margin: 20px auto 0 auto;
    width: 350px;
}

.form-header {
    font-size: 20px;
}

.row {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px 0;
    height: 50px;
    overflow: hidden;
}

.icon {
    background: white;
    padding: 6px 24px 0 22px;
    border-right: 1px solid black;
    display: inline-block;
    width: 10%;
    height: 100%;
    font-size: 30px;
}

.register {
    height: 30px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    width: 245px;
    vertical-align: 4px;
}

.login {
    padding: 4px 3px 5px 3px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid darkgray;
    width: 150px;
    margin-top: 10px;
    text-align: center;
}

::-webkit-input-placeholder {
    /* TODO: Implement it for Firefox */
    
    font-weight: normal;
    text-align: center;
    font-family: Verdana;
}

.button {
    color: white;
    background-color: rgb(30, 180, 30);
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

.button2 {
    color: white;
    background-color: rgb(30, 180, 30);
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(125, 255, 0);
    color: black;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

.small {
    width: 90px;
    height: 28px;
    font-size: 16px;
    border: 1px solid white;
    margin-top: 10px;
}

.big {
    width: 120px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.small:hover,
.big:hover {
    border: 1px solid gray;
}

.regular {
    padding: 5px 15px;
    border: double;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.right {
    text-align: right;
}

.f-right {
    float: right;
}

.small-text {
    font-size: 15px;
    text-align: center;
    display: block;
}

.big-text {
    font-size: 30px;
    text-align: center;
    display: block;
    color: rgb(150, 0, 0);
    font-weight: bold;
}

#reg-plus {
    font-size: 40px;
    color: rgb(218, 216, 32);
    -webkit-text-stroke: 1px black;
    /* TODO: Implement it for Firefox */
}

#profile-pic {
    height: 100%;
}

#profile-holder {
    height: 100%;
    float: right;
}

#username-header {
    vertical-align: 10px;
    font-size: 32px;
    font-family: Facebook;
}

#down-arrow {
    vertical-align: 5px;
    font-size: 30px;
    margin-right: 5px;
    margin-left: -5px;
}

#drop-down:hover {
    cursor: pointer;
}

#invisible {
    z-index: 1;
    display: none;
    border-left: 1px solid gray;
    width: 150px;
    position: absolute;
    right: 0;
    background-color: lightblue;
    margin-top: -3px;
    width: 200px;
}

#invisible a {
    color: rgb(0, 0, 200);
    font-size: 16px;
    padding: 7px 0;
    margin: 0;
    border-bottom: 1px solid gray;
    display: block;
    text-decoration: none;
}

#invisible a:visited {
    color: rgb(0, 0, 200);
}

#invisible a:hover {
    background-color: #248fc1;
    color: white;
    cursor: pointer;
}

#view-cover {
    height: 150px;
}

#profile-image-holder {
    height: 100%;
    margin-left: 200px;
    position: relative;
}

#view-pic {
    height: 100%;
    box-sizing: border-box;
    border-style: double;
    background-color: white;
}

#user-search {
    vertical-align: 18px;
    padding: 5px;
    font-size: 18px;
    width: 150px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-right: 5px;
}

input {
    font-family: Verdana;
}

.users-names {
    width: 100px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    color: black;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 20px;
    position: relative;
    padding: 0px 5px;
    margin: 0 5px 5px 5px;
    background-color: white;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

.users-name-holder {
    vertical-align: middle;
    margin: 0;
    position: absolute;
    top: 50%;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-55%, -50%);
}

.users-names:hover {
    background-color: #248fc1;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

#pop-up {
    display: none;
    position: absolute;
    padding: 5px;
    background: white;
    border: 1px solid black;
}

#pop-up img {
    max-width: 100px;
    max-height: 100px;
}

#profile-image-preview {
    max-width: 150px;
    max-height: 180px;
}

#profile-cover-preview {
    max-width: 100%;
}

#profile-image,
#profile-cover {
    position: absolute;
    display: none !important;
}

#image-preview-holder {
    min-height: 100px;
}

#cover-preview-holder {
    height: 100px;
    overflow: hidden;
}

.center {
    text-align: center;
    margin-bottom: 20px;
}

select {
    width: 255px;
    height: 40px;
    vertical-align: 3px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    font-family: Verdana;
}

.m-left {
    margin-left: 30px;
}

#friend-request {
    margin-left: 50px;
    display: inline-block;
    vertical-align: 40px;
    text-align: center;
}

#name-text {
    font-size: 40px;
    color: white;
    text-shadow: 2px 0 1px black, 0 2px 1px black, -2px 0 1px black, 0 -2px 1px black;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: Facebook;
}

#fiends-count {
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    text-shadow: 0 0 1px black;
    background-color: red;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#fiends-count:hover {
    cursor: pointer;
    color: red;
    background-color: white;
    border: 1px solid black;
}